<table class="table table-map">
    <tr>
        <% for(var i = 0; i < cases.length; i++) { %>

        <% if (i % 10 == 0 && i != 0) { %>
    </tr>
    <tr>
        <% } %>

        <td class="case <% if(cases[i].type == 'rock'){ %>rock-case<% }else if(cases[i].type == 'water'){ %>sea-case<% } else if(cases[i].type == 'bridge' && cases[i].horizontalBridge){ %>horizontal-bridge<% }else if(cases[i].type == 'bridge' && cases[i].horizontalBridge == false) { %>vertical-bridge<% }else{ %>neutral-case<% } %>"
            <% if(typeof(cases[i].ownedBy) != 'undefined'){ %>style="background-color:<%= cases[i].ownedBy.colorCase %>;"
            <% } %>
            data-ownedBy=<% if(typeof(cases[i].ownedBy) != 'undefined'){ %>'<%= cases[i].ownedBy.id %>'
        <% }else{ %>
        'null'
        <% } %>
        data-idCase="<%= cases[i].id %>"
        >

        <% if(cases[i].type == 'takable'){ %>
        <span class="unitsActual"><%= cases[i].units.length %></span>/<span
                class="unitsMax"><%= cases[i].unitsMax %></span>
        <% } %>
        <% if(typeof(cases[i].amelioration) != 'undefined'){ %>
        <br/>
        <img src="/images/dollar.png" style="height:33%; width:auto">
        <% if(cases[i].amelioration.id == 32){ %>
        <img src="/images/dollar.png" style="height:33%; width:auto">
        <% } %>
        <% } %>
        <br/>
        <div class="hidden">
            <% if(typeof(cases[i].ownedBy) != 'undefined'){ %>
            <%= cases[i].ownedBy.name %>
            <% } %>
            <br/>
            id:<%= cases[i].id %>
            <br/>
            numCase:<%= cases[i].numCase %>
        </div>
        </td>

        <% } %>
    </tr>
</table>